@import 'constants.module.scss';

.content {
  flex: 1;
  align-self: stretch;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.option {
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 10rem;
  font-size: 1.4rem;
  background-color: inherit;
  color: $primary;
  outline: 0 !important;
  border: 2px solid transparent;
  padding: 1.25rem .5rem;
  margin: .35rem;
  border-radius: 5px;

  >i {
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
}

.checked {
  color: $light;
  border: 2px solid $light;
}

.submitBtn {
  min-width: 7rem;
  border-radius: 5rem;
  align-self: flex-end;
}

