@import 'constants.module.scss';

.questions {
  flex: auto;
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  margin-top: 5vh; 
  background-color: #000000;
}

.form {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 7vw;
}

.formSelect {
  margin-top: 1rem;
  display: flex;
  width: $md;
  max-width: 90%;
  flex-wrap: wrap;
}

.option {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 10rem;
}

.formText {
  width: $sm;
  max-width: 90%;
  display: flex;
}

.footer {
  display: flex;
}

.formSidebar {
  flex: none;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  background-color: $secondary;
  
  @media screen and (max-width: $md) {
    display: none;
  }

  .item {
    cursor: pointer;
    padding: .5rem 1rem;

    color: white;
    border-left: .25rem solid transparent;
  }

  .child {
    padding: .25rem 1rem;
    padding-left: 2.25rem;
  }

  .active {
    border-left: .25rem solid $primary;
  }

  .disabled {
    pointer-events: none;
    cursor: auto;
    background-color: #171717;
    color: #343434;
    border-left: .25rem solid transparent;
  }
}

