@import 'constants.module.scss';

.select {
  display: flex;
  width: $md;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 10rem;
}