@import 'constants.module.scss';

.layout {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  .link {
    margin: .5rem;
    text-decoration: none;
  }
}

.content {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: auto;
}

.page {
  margin: 5vh;
  width: 90vw;
  min-height: 700px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}