@import 'constants.module.scss';

.layout {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .link {
    margin: .5rem;
    text-decoration: none;
  }
}

.content {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: auto;
}
