@import 'constants.module.scss';

.formSidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 13.5rem;
  background-color: $secondary;
  overflow: auto;
  
  @media screen and (max-width: $md) {
    display: none;
  }

  .item {
    flex: none;
    cursor: pointer;
    padding: .8rem 1.2rem;
    border-bottom: 1px solid rgba($light, .1);

    color: $light;
    border-left: .25rem solid transparent;
  }

  .child {
    padding-left: 2.25rem;
  }

  .active {
    border-left: .25rem solid $primary;
  }

  .disabled {
    pointer-events: none;
    cursor: auto;
    background-color: #171717;
    color: #343434;
    border-left: .25rem solid transparent;
  }
}

