@import 'constants.module.scss';

.page {
  flex: auto;
  flex-shrink: 0;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 96%;
  max-width: $lg;
  border-radius: 4px;
}

.loading {
  background: inherit;
  border: none;
  justify-content: center;
  align-items: center;
}

.breadcrumbs {
  flex: none;
  width: 96%;
  max-width: $lg;
  align-self: center;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: .3rem;


  .home {
    cursor: pointer;
    color: $blue;
  }

  a {
    cursor: pointer;
  }

  .breadcrumb {
    font-weight: 00;
  }  
}

.spacer {
  margin: 1rem;
}