@import 'constants.module.scss';

.answers {
  flex: none;
  display: flex;
  flex-direction: column;
  min-width: 15rem;

  @media screen and (max-width: $md) {
    display: none;
  }

  .item {
    cursor: pointer;
  
    &:first-child {
      border-top-right-radius: 0 !important;
    }

    &:last-child {
      border-bottom-right-radius: 0 !important;
    }
  }
}

