@import 'constants.module.scss';

.homePage {
  margin: 5vmin;
  width: 90vw;
  min-height: 700px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-bottom: 5vh;
}

.content { 
  flex: 1;

  .subtitle {
    opacity: .6;
  }
}

.nextButton {
  margin-top: .75rem;
  font-size: 1.5rem;
  padding: .5rem 3rem;
}