
$primary: #24292e;
$secondary: #e36209;;
$danger: #c33;
$success: #28a745;
$pending: #f1e05a;
$background: #f6f8fa;
$border: #e1e4e8;
$light: #e9ecef;
$info: #ced4da;
$dark: #495057;
$link: #0366d6;


// sizes
$sm: 450px;
$md: 900px;
$lg: 1200px;



// aimations
$std-transition: 250ms;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-100vw); }
  to   { transform: translateX(0); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg); }
}


//functions
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}



:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  danger: $danger;
  border: $border;
}